<div class="color border-right p-4 text-center" id="sidebar">
  <h5 class="text-center textos">Asociación Internacional de Yoga Yoguismo</h5>
  <h6 class="text-center textos">AIYY</h6>
  <img src="assets/extra/yoga.png" alt="yoga" style="max-width: 150px;" class="animate__animated animate__pulse animate__infinite">
  <hr class="textos">
  <h4 class="textos pt-2">Menu</h4>

  <ul class="list-group p-2">
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="list">
      List
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="translate">
      Translate
    </li>
  </ul>

  <h4 class="textos pt-2">Search</h4>
  <ul class="list-group p-2">
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="english">
      English
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="spanish">
      Spanish
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="sanskrit">
      Sanskrit
    </li>
  </ul>
</div>


