<div class="text-center p-4 animate__animated animate__fadeIn">
  <h2 class="p-4">Asana</h2>
  <img src="assets/extra/spanish.png" alt="espaniol" style="width: 50px;" class="pt-4">
  <h4 class="p-4">
    Una asana es una postura o posición del cuerpo que se mantiene
    durante un período de tiempo. Las asanas se practican para mejorar
    la fuerza, la flexibilidad, la postura y la concentración.
  </h4>
</div>

<hr class="textos p-4 animate__animated animate__fadeIn">

<div class="text-center p-4 animate__animated animate__fadeIn">
  <img src="assets/extra/english.png" alt="ingles" style="width: 50px;" class="pt-4">
  <h4 class="p-4">
    Asana is a pose or position of the body that is held for a period
    of time. Asanas are practiced to improve strength, flexibility,
    posture, and concentration.
  </h4>
</div>
